:root {
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
  --primary-color: #d2c7d5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
  font-size: 86px;
  line-height: 128px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
}
h3 {
  font-size: 47px;
}
a {
  font-family: var(--paragraph-font-family);
}
small {
  display: block;
  text-align: center;
}
.hero {
  background: #c1b2ca;
  padding: 120px 200px 120px 100px;
  border: 20px solid white;
}
.hero h2 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  color: #272142;
}
.hero p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}
.hero a {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--paragraph-font-family);
}
.secondary-btn {
  padding: 10px 20px;
}
.primary-btn {
  background-color: #c1b2ca;
  padding: 15px 30px;
}
.about-project {
  padding: 40px 30px;
}
.about-project p {
  padding: 20px 0;
  color: #272142b2;
}
.content-container {
  padding: 90px 0;
}
.content-container h1 {
  font-size: 60px;
  line-height: 85px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--paragraph-font-family);
  font-weight: bold;
}
.content-container h3 {
  font-family: var(--paragraph-font-family);
  font-weight: bold;
  font-size: 24px;
}
.content-container p {
  color: #272142b2;
  font-family: var(--paragraph-font-family);
  font-size: 14px;
}
.content-container img {
  padding: 0 25px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 39px;
  }
  .about-project {
    padding: 25px;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 90px 25px;
  }
  .content-container h1 {
    font-size: 35px;
    line-height: 1.3;
  }
}
