:root {
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
  font-size: 86px;
  line-height: 128px;
}
.hero {
  background: #c7bacf;
  padding: 120px 200px 150px 100px;
  border: 20px solid white;
}
.hero h2 {
  font-family: var(--paragraph-font-family);
  font-size: 24px;
  line-height: 36px;
  color: #272142;
}
.hero p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}
.hero a {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--paragraph-font-family);
}
.btn-contact {
  padding: 10px 20px;
}
